<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnknownBooks</title>
    <link rel="stylesheet" href="/static/css/variabel.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav>
        <div class="brand-banner">
            <!-- logo Unknown -->
             <img src="/assets/LogoUnknown.svg" alt="Logo" class="flag-logo">
        </div>

        <div class="navigation">
            <a href="#About">Tentang</a>
            <a href="#Eksplorasi">Eksplorasi</a>
            <a href="#FAQ">FAQ</a>
        </div>

        <div class="registerLogin">
            <div class="masuk">
                <p>Masuk</p>
            </div>
            <div class="daftar">
                <p>Daftar</p>
            </div>
        </div>
    </nav>
</body>
</html>