<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnknownBooks</title>
    <link rel="stylesheet" href="/static/css/variabel.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="brand-banner">
                <!-- logo Unknown -->
                <img src="/assets/LogoUnknown.svg" alt="Logo" class="flag-logo">
            </div>

            <div class="navigation">
                <a href="#About">Tentang</a>
                <a href="#Eksplorasi">Eksplorasi</a>
                <a href="#FAQ">FAQ</a>
            </div>

            <div class="registerLogin">
                <div class="masuk">
                    <p><a href="/login">Masuk</a></p>
                </div>
                <div class="daftar">
                    <p><a href="/register">Daftar</a></p>
                </div>
            </div>
        </nav>

        <!-- hero section -->
        <main>
            <h1>Selamat Datang di Unknown Books</h1>
            <p>Platform digital untuk membaca buku-buku tentang
                pengetahuan menarik, ilmu berguna, dan ide-ide yang relevan.</p>
            <button class="btnMain">Mulai Membaca</button>
        </main>
    </header>

    <!-- section -->
    <section>
        <div class="book-slider-container">
            <div class="book-slider-track">

                <div class="book-slide">
                    <img src="/assets/bookShowcase/1.svg" alt="">
                    <img src="/assets/bookShowcase/3.svg" alt="">
                    <img src="/assets/bookShowcase/4.svg" alt="">
                    <img src="/assets/bookShowcase/5.svg" alt="">
                    <img src="/assets/bookShowcase/6.svg" alt="">
                    <img src="/assets/bookShowcase/7.svg" alt="">
                    <img src="/assets/bookShowcase/8.svg" alt="">
                    <img src="/assets/bookShowcase/9.svg" alt="">
                    <img src="/assets/bookShowcase/10.svg" alt="">
                    <img src="/assets/bookShowcase/1.svg" alt="">
                    <img src="/assets/bookShowcase/3.svg" alt="">
                    <img src="/assets/bookShowcase/4.svg" alt="">
                    <img src="/assets/bookShowcase/5.svg" alt="">
                    <img src="/assets/bookShowcase/6.svg" alt="">
                    <img src="/assets/bookShowcase/7.svg" alt="">
                    <img src="/assets/bookShowcase/8.svg" alt="">
                    <img src="/assets/bookShowcase/9.svg" alt="">
                    <img src="/assets/bookShowcase/10.svg" alt="">
                </div>

            </div>
        </div>
    </section>

</body>

</html>